---
import { type CollectionEntry, getCollection, render } from "astro:content";
import PostLayout from "~/layouts/PostLayout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}

type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await render(post);
---

<PostLayout>
	<div class="mb-[2ch] flex flex-col gap-y-[2ch]">
		<time>
			{post.data.dates.published.toDateString()}
		</time>

		<div class="flex flex-row">
			{
				post.data.tags &&
					post.data.tags.map((tag) => <span is-="badge">{tag}</span>)
			}
		</div>
	</div>

	<Content />
</PostLayout>
