---
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout class="flex min-h-screen flex-col">
	<div is="view" class="mx-[1ch] my-[1ch] grow sm:mx-[4ch]">
		<main is="view-content" class="space-y-[2ch] text-justify">
			<hgroup class="space-y-[2ch]">
				<h1>404</h1>
				<p>page not found</p>
			</hgroup>
		</main>
	</div>
</PageLayout>
